@import "tw-animate-css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif
  }
  :root {
    --background: 48 100% 96%;
    --foreground: 220 46% 11%;
    --card: 47 95% 98%;
    --card-foreground: 220 46% 11%;
    --popover: 47 95% 98%;
    --popover-foreground: 220 46% 11%;
    --primary: 45 100% 51%;
    --primary-foreground: 220 51% 9%;
    --secondary: 206 100% 91%;
    --secondary-foreground: 219 50% 16%;
    --muted: 47 57% 90%;
    --muted-foreground: 219 22% 38%;
    --accent: 190 96% 42%;
    --accent-foreground: 220 51% 9%;
    --destructive: 356 78% 48%;
    --destructive-foreground: 48 100% 96%;
    --border: 42 55% 67%;
    --input: 43 63% 82%;
    --ring: 45 100% 51%;
    --chart-1: 45 100% 51%;
    --chart-2: 190 96% 42%;
    --chart-3: 216 78% 49%;
    --chart-4: 14 86% 57%;
    --chart-5: 147 64% 42%;
    --radius: 0.625rem;
    --sidebar: 47 95% 98%;
    --sidebar-foreground: 220 46% 11%;
    --sidebar-primary: 45 100% 51%;
    --sidebar-primary-foreground: 220 51% 9%;
    --sidebar-accent: 206 100% 91%;
    --sidebar-accent-foreground: 219 50% 16%;
    --sidebar-border: 42 55% 67%;
    --sidebar-ring: 45 100% 51%
  }
  .dark {
    --background: 223 55% 7%;
    --foreground: 47 100% 91%;
    --card: 222 47% 11%;
    --card-foreground: 47 100% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 47 100% 91%;
    --primary: 45 100% 54%;
    --primary-foreground: 220 51% 9%;
    --secondary: 219 38% 18%;
    --secondary-foreground: 47 100% 91%;
    --muted: 219 34% 16%;
    --muted-foreground: 46 32% 71%;
    --accent: 190 96% 47%;
    --accent-foreground: 220 51% 9%;
    --destructive: 356 76% 63%;
    --destructive-foreground: 48 100% 96%;
    --border: 42 46% 31%;
    --input: 219 36% 18%;
    --ring: 45 100% 54%;
    --chart-1: 45 100% 54%;
    --chart-2: 190 96% 47%;
    --chart-3: 216 85% 62%;
    --chart-4: 14 90% 63%;
    --chart-5: 147 64% 48%;
    --sidebar: 222 47% 11%;
    --sidebar-foreground: 47 100% 91%;
    --sidebar-primary: 45 100% 54%;
    --sidebar-primary-foreground: 220 51% 9%;
    --sidebar-accent: 219 38% 18%;
    --sidebar-accent-foreground: 47 100% 91%;
    --sidebar-border: 42 46% 31%;
    --sidebar-ring: 45 100% 54%
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
